/** style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.main {
    flex: 1;
}

section {
    margin-bottom: 40px;
    padding: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: rgba(215, 232, 250, 0.682);
    border-radius: 25px;
}

label {
    display: block;
    margin: 10px 0;
}

.error {
    color: red;
    font-weight: bold;
}

header {
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: rgb(93, 93, 152);
    border: 2px solid #333;
    border-radius: 20px;
    margin: 5px 5px;
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: rgb(93, 93, 152);
    border: 2px solid #333;
    border-radius: 25px;
    margin: 5px 5px;
}

/* form styles */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 80, 241, 0.266);
    border-radius: 20px;
    padding: 15px;
}

form input,
form button {
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    margin-top: 5px;

}

form input:focus,
form button:focus {
    border-color: #333;
    outline: none;
}

/* style buttons */

form button {
    margin-top: 5px;
    background-color: #333;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    cursor: pointer;
    border: 2px solid #333;
    background-color: #96a1a4;
}

button {
    margin-top: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #ccc;
    font-weight: 700;
}

button:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;

    cursor: pointer;
}

.button {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #ccc;
    font-weight: 700;
}

.button:hover {
    background-color: #333;
    border: 2px solid #fff;

    color: #fff;
    cursor: pointer;
}